{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" id="add-product">
    <h1 class="my-4">Add Product</h1>
    <form method="post" enctype="multipart/form-data" class="my-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success">Add Product</button>
    </form><br>
    <a href="{% url 'category_list' %}" class="btn btn-primary">View Categories</a>

    <br>
</div>
<link type="text/css" rel="stylesheet" href="{% static 'css/website.css' %}" />
<style>
    h1{
        text-align:center;
    }
    .my-form {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .my-form .form-group {
        margin-bottom: 20px;
    }
    
    .my-form label {
        font-weight: bold;
    }
    
    .my-form input[type="text"],
    .my-form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }
    
    .my-form input[type="text"]:focus,
    .my-form textarea:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    
    .my-form button[type="submit"] {
        display: block;
        margin: 0 auto;
    }
</style>
{% endblock content %}