{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="main">
    <h2>Registration Form</h2>
    <div class="row">
        <form method="POST" class="post-form" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="input-group mb-3 col-md-12" id="user-types">
                    <label class="label">User Types</label>
                    {% render_field form.user_types %}
            </div>
            <div class="row mt-2">
                <div class="col-md-6"><label class="label">First Name </label>{{ form.first_name }}</div>
                <div class="col-md-6"><label class="label" >Last Name </label>{{ form.last_name  }}</div>
            </div>
            <div class="row mt-3">
                <div class="input-group mb-3 col-md-12">
                    <label class="label">Email</label>
                    {% render_field form.email %}
                </div>
                <div class="input-group mb-3 col-md-12" id="gst-field">
                    <label class="label">GST</label>
                    {% render_field form.gst %}
                </div>
                <div class="input-group mb-3 col-md-12">
                    <label class="label">Username</label>
                    {% render_field form.username %}
                </div>
                <div class="input-group mb-3 col-md-12">
                    <label class="label">Password</label>
                    {% render_field form.password %}
                </div>
                <div class="input-group mb-3 col-md-12">
                    <label class="label">Re-Password</label>
                    {% render_field form.repassword %}
                </div>
                <div class="input-group mb-3 col-md-12">
                    <label class="label">Mobile No.</label>
                    {% render_field form.number %}
                </div>
                <div class="input-group mb-3 col-md-12">
                    <label class="label">Gender</label>
                    {% render_field form.gender %}
                </div>
            </div>
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
</div>
<link type="text/css" rel="stylesheet" href="{% static 'css/become_seller.css' %}" />
<script src="{% static 'js/registration.js' %}"></script>
{% endblock content %}

